DEPLOY_SSH_USER=geekzoneai
DEPLOY_SSH_HOST=ssh.web7.us.cloudlogin.co
DEPLOY_SSH_PORT=2222
DEPLOY_REMOTE_DIR=/home/geekzoneai/apps/MLM-Hosting-SaaS
DEPLOY_PUBLIC_DIR=/home/www
DEPLOY_SSH_PASSWORD='your-ssh-password'
DEPLOY_GIT_BRANCH=main
DEPLOY_AUTO_COMMIT=1
DEPLOY_COMMIT_PREFIX=Deploy
DEPLOY_WATCH_INTERVAL_SECONDS=15
DEPLOY_REMOTE_POST_SYNC=
